:root {
  --white: #ffffff;
  --violet: #21092f;
  --mine-shaft: #2f2f2f;
  --hit-gray: #adb5be;
  --back-card-gradient-bg: linear-gradient(169deg, #fff 5%, #d2d3d9 91.69%);
  --front-card-gradient-bg: linear-gradient(
    164deg,
    #6348fe 4.74%,
    #610595 88.83%
  );
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  height: 100vh; /* Hauteur égale à X% de la hauteur de la fenêtre du navigateur */
  width: 100vw; /* Largeur égale à X% de la largeur de la fenêtre du navigateur */
  margin: 0;
  padding: 0;
}

.container {
}

.form-card-app {
}

.form-groups-wrapper-1 {
  background-color: var(--violet);
  color: var(--white);
  min-height: 15rem;
  display: flex;
  flex-direction: column;

  position: relative;
}

.form-group-back-card {
  background: var(--back-card-gradient-bg);
  border-radius: 6px;
  width: 18rem;
  height: 10rem;
  padding-top: 1rem;
  position: absolute;
  align-self: end;
  /*margin: 2rem 1rem 3rem 4.5rem;*/ /*où utiliser le positionnement relatif*/

  top: 1.5rem;
  right: 1rem;
  z-index: 0;
}

.back-card-black-headband {
  background: var(--mine-shaft);
  width: 18rem;
  height: 2rem;
}

.back-card-verification-value-band {
  background: var(--hit-gray);
  border-radius: 3px;
  width: 14rem;
  height: 2rem;
  text-align: end;
  padding: 0.5rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group-front-card {
  background: var(--front-card-gradient-bg);
  border-radius: 6px;
  width: 18rem;
  height: 10rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  left: 1rem;
  top: 7.5rem;
}

.front-card-circles {
  display: flex;
  align-items: center;
}

.front-card-full-circle {
  display: flex;
  width: 1.8rem;
  height: 1.8rem;
  background: var(--white);
  border-radius: 50%;
  margin-right: 0.5rem;
}

.front-card-empty-circle {
  display: flex;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.front-card-number-result {
  font-size: 1.45rem;
  align-self: center;
}

.front-card-details {
  display: flex;
  justify-content: space-between;
}

.front-card-holder-name-result {
}

.front-card-dates-result {
}

.front-card-month-result {
}

.front-card-year-result {
}

.form-groups-wrapper-2 {
  background-color: var(--white);
  min-height: 22rem;
  padding: 3rem 1.5rem 0 1.5rem;

  display: none;
}

.form-group-card-details {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  font-size: 12px;
  font-weight: 500;
  flex-basis: 100%;
}

.card-details-holder-name {
}

#card-details-holder-name {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  height: 2.8rem;
  border-radius: 8px;
  border: 1px solid var(--hit-gray);
}

#card-details-number {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  height: 2.8rem;
  border-radius: 8px;
  border: 1px solid var(--hit-gray);
}

.card-details-other-wrapper {
  display: flex;
}

.card-details-other-wrapper-second-level {
  display: flex;
  flex-wrap: wrap;
}

#card-details-dates-input {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  height: 2.8rem;
  border-radius: 8px;
  border: 1px solid var(--hit-gray);

  width: 4.5rem;
}

/*.card-details-dates-label {
  font-size: 12px;
  flex-basis: 100%;
}*/

/*#card-details-year-input {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  height: 2.8rem;
  border-radius: 8px;
  border: 1px solid var(--hit-gray);

  width: 4.5rem;
}*/

#card-details-cvc-input {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  height: 2.8rem;
  border-radius: 8px;
  border: 1px solid var(--hit-gray);

  width: 10.25rem;
}

/*.card-details-cvc-label {
  font-size: 12px;
}*/

/*.submit-btn-wrapper {
  display: flex;
  justify-content: center;
}*/

.display-result-btn {
  width: 20rem;
  height: 3rem;
  border-radius: 8px;
  background: var(--violet);
  color: var(--white);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.footer-link {
  color: var(--violet);
  font-size: 16px;
  text-decoration: none;
}
